.panels {
  flex: 1;
  min-height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.panel {
  flex: 1;
  min-height: 0;
  overflow: auto;
  flex-direction: column;
  display: flex;
}
